<ion-header>
  <ion-toolbar>
    <ion-title>login - Asia Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <img src="assets/asia.jpg" alt="asia image">
      <ion-card-subtitle>
        Asian
      </ion-card-subtitle>
      <ion-card-title>Awesome Asia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     <ion-item>
       <ion-input class = "username " aria-placeholder="username"></ion-input>
     </ion-item>
     <br>
     <ion-item>
       <ion-input  class = "username " aria-placeholder="password" type="password"></ion-input>
     </ion-item>
     <br>
     <ion-button (click)="logMeIn()">login</ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>
