<ion-header>
  <ion-toolbar>
    <ion-title>
      Asian Countries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/asia.jpg" alt="asia image">
      <ion-card-subtitle>
        Information
      </ion-card-subtitle>
      <ion-card-title>Asia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Asia is Earth's largest and most populous continent, located primarily in the Eastern and Northern Hemispheres. It is about 30% of Earth's total land area and 8.7% of the Earth's total surface area. The continent, which has long been home to the majority of the human population, was the site of many of the first civilizations. Its 4.5 billion people (as of June 2019) constitute roughly 60% of the world's population.
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <ion-card-header>
      <img src="assets/ChinaFlag.png" alt="asia image">
      <ion-card-subtitle>
        China Flag
      </ion-card-subtitle>
      <ion-card-title>China</ion-card-title>
    </ion-card-header>
    <img src="assets/China.jpg" alt="asia image">
    <ion-card-content>
      Officially the People's Republic of China, is a country in East Asia. It is the world's most populous country, with a population of more than 1.4 billion. 
    </ion-card-content>
    <ion-segment >
      <ion-segment-button (click)="click('china')"> 
        <ion-router-link  class="spacing">Information</ion-router-link>
         </ion-segment-button>
    </ion-segment>
    
  </ion-card>
  <br>
  <ion-card>
    <ion-card-header>
      <img src="assets/IndiaFlag.png" alt="asia image">
      <ion-card-subtitle>
        India Flag
      </ion-card-subtitle>
      <ion-card-title>India</ion-card-title>
    </ion-card-header>
    <img src="assets/India.jpg" alt="asia image">
    <ion-card-content>
      India, officially the Republic of India is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world.
    </ion-card-content>
    <ion-segment >
      <ion-segment-button (click)="click('india')"> 
        <ion-router-link  class="spacing">Information</ion-router-link>
         </ion-segment-button>
    </ion-segment>
    
  </ion-card>
  <br>
  <ion-card>
    <ion-card-header>
      <img src="assets/JapanFlag.jpg" alt="asia image">
      <ion-card-subtitle>
        Japan Flag
      </ion-card-subtitle>
      <ion-card-title>Japan</ion-card-title>
    </ion-card-header>
    <img src="assets/Japan.jpg" alt="asia image">
    <ion-card-content>
      Japan is an island country in East Asia, located in the northwest Pacific Ocean. It is bordered on the west by the Sea of Japan, and extends from the Sea of Okhotsk in the north toward the East China Sea and Taiwan in the south. 
    </ion-card-content>
    <ion-segment >
      <ion-segment-button (click)="click('japan')"> 
        <ion-router-link  class="spacing">Information</ion-router-link>
         </ion-segment-button>
    </ion-segment>
  </ion-card>
  <br>
  <ion-card>
    <ion-card-header>
      <img src="assets/IndonesiaFlag.jpg" alt="asia image">
      <ion-card-subtitle>
        Indonesia Flag
      </ion-card-subtitle>
      <ion-card-title>Indonesia</ion-card-title>
    </ion-card-header>
    <img src="assets/Indonesia.jpg" alt="asia image">
    <ion-card-content>
      Indonesia is a transcontinental country in Southeast Asia and Oceania between the Indian and Pacific oceans. It consists of over seventeen thousand islands, including Sumatra, Java, Sulawesi, and parts of Borneo and New Guinea. Indonesia is the world's largest island country and the 14th-largest country by area, at 1,904,569 square kilometres (735,358 square miles).
    </ion-card-content>
    <ion-segment >
      <ion-segment-button (click)="click('indonesia')"> 
        <ion-router-link  class="spacing">Information</ion-router-link>
         </ion-segment-button>
    </ion-segment>
  </ion-card>
  <br>
  <ion-card>
    <ion-card-header>
      <img src="assets/PakistanFlag.png" alt="asia image">
      <ion-card-subtitle>
        Pakistan Flag
      </ion-card-subtitle>
      <ion-card-title>Pakistan</ion-card-title>
    </ion-card-header>
    <img src="assets/Pakistan.jpg" alt="asia image">
    <ion-card-content>
      Pakistan, officially the Islamic Republic of Pakistan, is a country in South Asia. It is the world's fifth-most populous country. Pakistan is the 33rd-largest country by area. It has a 1,046-kilometre (650-mile) coastline along the Arabian Sea and Gulf of Oman in the south, and is bordered by India to the east. 
    </ion-card-content>
    <ion-segment >
      <ion-segment-button (click)="click('pakistan')"> 
        <ion-router-link  class="spacing">Information</ion-router-link>
         </ion-segment-button>
    </ion-segment>
  </ion-card>
  <br>
  <ion-card>
    <ion-card-header>
      <img src="assets/UAEFlag.png" alt="asia image">
      <ion-card-subtitle>
        United Arab Emirates Flag
      </ion-card-subtitle>
      <ion-card-title>United Arab Emirates</ion-card-title>
    </ion-card-header>
    <img src="assets/UAE.jpg" alt="asia image">
    <ion-card-content>
      The United Arab Emirates is a country in Western Asia located at the eastern end of the Arabian Peninsula. It borders Oman and Saudi Arabia, and has maritime borders in the Persian Gulf with Qatar and Iran.[10][11]
    </ion-card-content>
    <ion-segment >
      <ion-segment-button (click)="click('uae')"> 
        <ion-router-link  class="spacing">Information</ion-router-link>
         </ion-segment-button>
    </ion-segment>
  </ion-card>
</ion-content>